@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* background-color: #ecf5ff; */
  background-image: url(/asset/bg-kuis.png);
  background-size: cover;
  font-size: 90%;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #3C486B;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 4.2rem;
  font-weight: 500;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* Utilities */
.container {
  /* width: 100vh; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Buttons */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #3C486B;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #3C486B;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(60, 72, 107, 0.5);
  transform: scale(1.1);
  transition: 0.4s;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* Forms */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(60, 72, 107, 0.5);
}

input::placeholder {
  color: #aaa;
}

@media screen and (max-width: 800px){
  :root {
    font-size: 50%;
    background-image: url(/asset/bg-kuis-mobile.png);
    background-size: cover;
  }
  h1 {
    font-size: 20.4rem;
    color: #3C486B;
    margin-bottom: 0rem;
  }

  h1 > span {
    font-size: 9.2rem;
    font-weight: 500;
  }

  h2 {
    font-size: 7.2rem;
    margin-bottom: 2%;
    font-weight: 700;
  }

  h3 {
    font-size: 5.8rem;
    font-weight: 500;
  }
  .btn {
    font-size: 30px;
    padding: 20px 20px 20px;
    width: 250px;
  }
  input {
    margin-bottom: 19px;
    width: 200px;
    padding: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 647px) {
  :root {
    font-size: 33%;
}
}

@media screen and (max-width: 414px) {
  :root {
    font-size: 20%;
  }
}